body {
  background-color: black;
  color: white;
}

#root {
  text-align: center;
  height: 100vh;
}

#coffee-run-header {
  padding: 20px 0;
}

embed {
  border-radius: 50%;
  max-width: 60vw;
}

.button-group {
  padding: 20px 0;
}

.button-group button {
  border-radius: 5px;
  min-width: 80px;
  outline-style: none;
  background-color: bisque;
}

.button-group button:first-child {
  margin: 0 10px 0 0;
}
